{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/colecoes/perfil.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/imagens/icon.svg' %}"/>
    {% if user.nome_completo %}
    <title>{{user.primeiro_nome}} (@{{user.username }}) • Perfil</title>
    {% else %}
    <title>{{ user.first_name }} (@{{user.username}}) • Perfil</title>
    {% endif %}
</head>

<body class="corpo">
    <div id="meu-cabecalho">
        {% include 'partials/_header.html' %}
    </div>

    <section class="corpo_pagina">
        <div class="info">
            <div class='foto_addon'>
                {% if user.photo %}
                <img src="{{ user.photo.url }}" id="foto_perfil">
                {% else %}
                <img src="{% static 'assets/icones/perfil.svg' %}" id="foto_perfil">
                {% endif %}
            </div>
            <div class="dados" style="margin: 0;">
                <div style="display: flex; align-items: center;" class="username">
                    <h1 >@{{ user.username }}</h1>
                    <div class="linha_2" style="display: flex; margin-top: 10px;">
                        <div id="editar_perfil">
                            <a href="{% url 'editar_perfil' user.username %}"> Editar perfil</a>
                    </div>
                        <div id="compartilhar_perfil" onclick="copiarLink()">
                            <a style="margin-bottom: 0;"> Compartilhar</a>
                        </div>
                    </div>                    
                </div>

                <div style="display: flex;" class="numeros">
                    <div class="stats" style="margin: 0;">
                        {% if quantidade_colecoes == 1 %}
                        <p class="p_stats" style="margin-right: 20px; margin-bottom: 10px; margin-top: 10px;"><span>{{ quantidade_colecoes|format_number }}</span> Coleção</p>
                        {% else %}
                        <p class="p_stats" style="margin-right: 20px; margin-bottom: 10px; margin-top: 10px;"><span>{{ quantidade_colecoes|format_number }}</span> Coeleções
                        </p>
                        {% endif %}
                        {% if quantidade_itens == 1 %}
                        <p class="p_stats" style="margin-right: 20px; margin-bottom: 10px; margin-top: 10px;"><span>{{ quantidade_itens|format_number }}</span> Item</p>
                        {% else %}
                        <p class="p_stats" style="margin-right: 20px; margin-bottom: 10px; margin-top: 10px;"><span>{{ quantidade_itens|format_number }}</span> Itens</p>
                        {% endif %}
                    </div>

                    <div class="stats" style="margin: 0;">
                        {% if quantidade_seguidores == 1 %}
                        <p class="p_stats" style="margin-right: 20px; margin-bottom: 10px; margin-top: 10px;"><span>{{ quantidade_seguidores|format_number }}</span> Seguidor
                        </p>
                        {% else %}
                        <p class="p_stats" style="margin-right: 20px; margin-bottom: 10px; margin-top: 10px;"><span>{{ quantidade_seguidores|format_number }}</span> Seguidores
                        </p>
                        {% endif %}
                        {% if quantidade_seguindo == 1 %}
                        <p class="p_stats" style=" margin-bottom: 10px; margin-top: 10px;"><span>{{ quantidade_seguindo|format_number }}</span> Seguindo</p>
                        {% else %}
                        <p class="p_stats" style="margin-bottom: 10px; margin-top: 10px;"><span>{{ quantidade_seguindo|format_number }}</span> Seguindo</p>
                        {% endif %}
                    </div>
                </div>

                <div>
                    {% if user.nome_completo %}
                    <p style="font-weight: 600; font-size: 20px; margin-bottom: 0;">{{ user.nome_completo }}</p>
                    {% else %}
                    <p style="font-weight: 600; font-size: 20px; margin-bottom: 0;">{{ user.first_name }} {{ user.last_name }}</p>
                    {% endif %}

                    {% if user.biografia %}
                        <p id="biografia" style="margin-bottom: 0;">{{ user.biografia|slice:":100" }}<span id="ellipsis" style="display: inline;">...</span><span id="moreText" style="display: none;">{{ user.biografia|slice:"100:" }}</span></p>
                        {% if user.biografia|length > 100 %}
                            <a href="" id="moreLink" style="color: crimson; text-decoration: none;">mais...</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="divider d-flex align-items-center my-4">
            <hr class="text-black flex-grow-1">
            <p>Coleções</p>
            <hr class="text-black flex-grow-1">
        </div>
        <div>
            <div class="colecoes" style="text-align: center; margin: auto;">
                {% for colecao in colecoes %}
                <div class="colecao_card card"
                    style="width: 18rem; display: flex; margin-bottom: 15px; margin-right: 20px;">
                    <a href="{% url 'colecao' user.username colecao.id %}" style="display: inline-block;"
                        class="colecao_link">
                        {% if colecao.foto %}
                        <img class="card-img-top" src="{{ colecao.foto.url }}" alt="Coleção-image" style="width: 100%;">
                        {% else %}
                        <img class="card-img-top" src="{{ colecao.categoria.imagem_padrao.url }}" alt="Coleção-image"
                            style="width: 100%;">
                        {% endif %}
                        <div class="card-body"
                            style="background-color: {{ colecao.cor }}; {% if colecao.texto_preto %} color: #000000; {% else %} color: #FFFFFF; {% endif %}">
                            <h3 class="card-title">{{ colecao.nome }}</h3>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <div id="menu-celular">
        {% include 'partials/_footer_celular.html' %}
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'scripts/perfil.js' %}"></script>

</html>