{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/colecoes/perfil.css' %}">
    {% if other_user.nome_completo %}
    <title>{{ other_user.primeiro_nome }} (@{{ other_user.username }}) • Perfil</title>
    {% else %}
    <title>{{ other_user.first_name }} (@{{ other_user.username }}) • Perfil</title>
    {% endif %}
</head>
<body class="corpo">
    <div>
        {% include 'partials/_header.html' %}
    </div>

    <section class="corpo_pagina">
        <div class="info">
            <div class='foto_addon'>    
                {% if other_user.photo %}
                <img src="{{ other_user.photo.url }}" id="foto_perfil">
                {% else %}
                <img src="{% static 'assets/icones/perfil.svg' %}" id="foto_perfil">
                {% endif %}
            </div>
            <div class="dados" style="margin: 0;">
                <h1>@{{ other_user.username }}</h1>
                {% if other_user.nome_completo %}
                <p>{{ other_user.nome_completo }}</p>
                {% else %}
                <p>{{ other_user.first_name }} {{ other_user.last_name }}</p>
                {% endif %}

                {% if other_user.bio %}
                <p>{{ other_user.bio }}</p>
                {% else %}
                {% endif %}

            <div class="stats" style="margin: 0;">
                {% if quantidade_colecoes == 1 %}
                <p><span>{{ quantidade_colecoes }}</span> Coleção</p>
                {% else %}
                <p><span>{{ quantidade_colecoes }}</span> Coleções</p>
                {% endif %}
                {% if quantidade_itens == 1 %}
                <p><span>{{ quantidade_itens }}</span> Item</p>
                {% else %}
                <p><span>{{ quantidade_itens }}</span> Itens</p>
                {% endif %}
            </div>

            </div>
        </div>

        <div class="divider d-flex align-items-center my-4">
            <hr class="text-black flex-grow-1">
            <p>Coleções</p>
            <hr class="text-black flex-grow-1">
        </div>
        <div>
            <div class="colecoes" style="text-align: center; margin: auto;">
                {% for colecao in colecoes %}
                    <div class="colecao_card card" style="width: 18rem; display: flex; margin-bottom: 15px; margin-right: 20px;">
                        <a href="{% url 'colecao' other_user.username colecao.id %}" style="display: inline-block;" class="colecao_link">
                        <img class="card-img-top" src="{{ colecao.categoria.imagem_padrao.url }}" alt="Coleção-image" style="width: 100%;">
                        <div class="card-body" style="background-color: {{ colecao.cor }}; {% if colecao.texto_preto %} color: #000000; {% else %} color: #FFFFFF; {% endif %}">
                            <h3 class="card-title">{{ colecao.nome }}</h3>
                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>                  
        </div>
    </section>
    
</body>
</html>
