{% load static %}
<head>
    <title>Seguidores de {{ user.username }}</title>
    <link rel="stylesheet" href="{% static 'styles/colecoes/seguindo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="seguindo-container">

    <div class="usuarios-seguindo">
        {% for usuario in seguido %}
            <div class="usuario-item">
                <img src="{{ usuario.foto.url }}" alt="{{ usuario.username }}" class="usuario-foto">
                <div class="usuario-info">
                    <h3>{{ usuario.username }}</h3>
                    <p>{{ usuario.nome_completo }}</p>
                </div>
                <div class="usuario-acoes">
                        {% if usuario in esta_seguindo %}
                            <a href="{% url 'deixar_seguir_usuario' usuario.id %}" class="btn-seguir">Deixar de seguir</a>
                        {% else %}
                            <a href="{% url 'seguir_usuario' usuario.id %}" class="btn-seguir seguir-back">Seguir de volta</a>
                        {% endif %}
                </div>
        
            </div>
        {% empty %}
            <p>{{ user.username }} não tem nenhum seguidor ainda.</p>
        {% endfor %}
    </div>
</div>

<script src="{% static 'scripts/busca.js' %}"></script>
