{% load static %}
<head>
    <title>{{ user.username }} está seguindo</title>
    <link rel="stylesheet" href="{% static 'styles/colecoes/seguindo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="seguindo-container">
    <a href="{% url 'pagina_anterior' %}" class="btn-voltar">
        <i class="fas fa-arrow-left"></i>
        Voltar
    </a>  
    <div class="usuarios-seguindo">
        {% for usuario in seguindo %}
        <a href="{% url 'perfil' usuario %}" style="display: flex;">
            <div class="usuario-item">
                <div class="photo-addon">
                    {% if usuario.photo %}
                    <img src="{{ usuario.photo.url }}" alt="{{ usuario.username }}" class="usuario-foto">
                    {% else %}
                        <img src="{% static 'assets/icones/perfil.svg' %}" alt="{{ usuario.username }}" class="usuario-icone">
                    {% endif %}
                </div>
                <div class="usuario-info">
                    <h3>{{ usuario.username }}</h3>
                    <p>{{ usuario.nome_completo }}</p>
                </div>
                {% if usuario != request.user %}
                <div class="usuario-acoes">
                    {% if usuario in request.user.seguindo.all %}
                            <a href="{% url 'deixar_seguir_usuario' usuario.id %}" class="btn-deixar-seguir">Deixar de seguir</a>
                    {% else %}
                            <a href="{% url 'seguir_usuario' usuario.id %}" class="btn-seguir seguir-back">Seguir de volta</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </a>
        {% empty %}
            <p>{{ user.username }} não está seguindo ninguém ainda.</p>
        {% endfor %}
    </div>
</div>

<script>
    // Script para ação de seguir ou deixar de seguir (simulação)
    document.querySelectorAll('.btn-seguir').forEach(button => {
        button.addEventListener('click', function() {
            const userId = this.getAttribute('data-id');
            if (this.classList.contains('seguir-back')) {
                // Lógica para seguir de volta
                this.textContent = 'Seguindo';
                this.classList.remove('seguir-back');
            } else {
                // Lógica para deixar de seguir
                this.textContent = 'Seguir';
            }
            this.classList.toggle('seguindo');
        });
    });
</script>
