.pagina-inicial{
    background-color: rgb(71, 71, 255);
    display: flex;
}

.corpo_login {
    margin-left: auto;
    width: 50%;
    background-color: #fffeed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 100vh;
    padding: 20px;
}

#label{
    color:#000000;
    margin-bottom: 5px;
}

.senha-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

#senha {
    padding-right: 40px;
}

#olho {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
    transform: translateY(-50%);

}
   

.btn{
    margin-top: 10px;
    width: 100px;
}

#google_login{
    margin: auto;
    margin-top: 20px;
    width: 50%;
    border: solid #000000 1px;
}
