{%load static%}

<header class="cabecalho">
    <img src="{% static 'assets/imagens/logo3.svg' %}" alt="Logo da Colecionei" />
    <section class="menu">
        <nav class="menu_navegacao">
            <a href="{% url 'feed' %}"><img src="{% static 'assets/icones/empilhar.svg' %}"> Feed</a>
            <a href="{% url 'buscar' %}"><img src="{% static 'assets/icones/lupa.svg' %}"> Buscar</a>
            <a href="{% url 'favoritos' %}"><img src="{% static 'assets/icones/trofeu.svg' %}"> Favoritas</a>
            <a href="{% url 'nova-colecao' %}"><img src="{% static 'assets/icones/coroa.svg' %}"> Nova coleção</a>
            {% if user.is_authenticated %}
                <a href="{% url 'meu-perfil' %}">
                    {% if user.photo %}
                        <img src="{{ user.photo.url }}" id="menu_perfil_photo"> Perfil
                    {% else %}
                        <img src="{% static 'assets/icones/perfil.svg' %}"> Perfil
                    {% endif %}
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <img src="{% static 'assets/icones/perfil.svg' %}"> Perfil
                </a>
            {% endif %}
        </nav>
    </section>
</header>
<main class="principal">