{%load static%}

<header class="cabecalho">
    <img src="{%static ''%}" alt="Logo da Colecionei" />
    <div class="cabecalho__busca">  
        </div>
    </div>
    <section class="menu">
        <nav class="menu_navegacao">
            <a href="{% url 'feed' %}"><img src="{% static '' %}"> Feed</a>
            <a href=""><img src="{% static '' %}"> Buscar</a>
            <a href=""><img src="{% static '' %}"> Favoritas</a>
            <a href=""><img src="{% static '' %}"> Perfil</a>
        </nav>
    </section>
</header>
<main class="principal">