{%load static%}

<header class="cabecalho">
    <img class="logo" src="{% static 'assets/imagens/logo3.svg' %}" alt="Logo da Colecionei" />
    </header>
<main class="principal">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function resizeLogo() {
        if ($(window).width() < 768) {
            $(".icon").attr("src", "{% static 'assets/imagens/logo3.svg' %}");
            $(".icon").removeClass("icon").addClass("logo");
        } else if ($(window).width() < 1263) {
            $(".logo").attr("src", "{% static 'assets/imagens/icon.svg' %}");
            $(".logo").removeClass("logo").addClass("icon");
        } else {
            $(".icon").attr("src", "{% static 'assets/imagens/logo3.svg' %}");
            $(".icon").removeClass("icon").addClass("logo");
        }
    }
    $(window).resize(resizeLogo);
    $(document).ready(resizeLogo);
</script>