@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}


p, a{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.menu_navegacao a{
    font-family: 'Nunito', sans-serif !important;
    font-size: 15pt !important;
    font-weight: bold !important;
    text-decoration: none !important;
    color: #333 !important;
    margin: 20px 0 !important;
}

.corpo{
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
}

.cabecalho{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.400);
    padding: 50px;
    height: 100vh;
    flex: 2;
    position: relative;
    overflow: hidden;
    
}

.cabecalho-escondido {
    display: none !important;
}

.cabecalho img{
    width: 150px;
}

.menu_navegacao{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.menu_navegacao a{
    font-family: 'Nunito', sans-serif;
    font-size: 15pt;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin: 20px 0;
}

.menu_navegacao a:hover{
    transition: 0.15s;
    color: #FF0049;
    transform: scale(1.1);
}
.menu_navegacao img{
    width: 25px;
    margin-right: 10px;
}

#menu_perfil_photo{
    width: 30px;
    border-radius: 25px;
}

.corpo_pagina{
    width: 100%;
    height: 100vh;
    padding-left: 6%;
    padding-right: 3%;
    padding-top: 5%;
    overflow: auto;
    display: flex;
    flex-direction: column;

}


.alert-error{
    --bs-alert-color: #842029!important;
    --bs-alert-bg: #f8d7da!important;;
    --bs-alert-border-color: #f5c2c7!important;;

}

.alert-success{
    --bs-alert-color: #0f5132!important;
    --bs-alert-bg: #d1e7dd!important;
    --bs-alert-border-color: #badbcc!important;
}
.alert{
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: 0.375rem;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
}

.info{
    display: flex;
    
}

.foto_addon {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9f1a1;
}

#foto_perfil {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.colecao_link{
    text-decoration: none;
    color: #333;
}

.stats{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stats span{
    font-size: 20px;
    font-weight: bold;
}

.colecoes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}


.card-img-top{
    object-fit: cover!important;
    width: auto!important;
    height: 200px!important;
}

.card {
    height: 350px!important; /* Ajuste este valor conforme necessário */
    overflow: hidden!important;
}

.descricao {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de linhas que você deseja exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}