body{
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.400);
    padding: 50px;
    height: 100vh;
}

.cabecalho img{
    width: 150px;
}

.menu_navegacao{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.menu_navegacao a{
    font-family: 'Nunito', sans-serif;
    font-size: 15pt;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin: 20px 0;
}

.menu_navegacao a:hover{
    transition: 0.15s;
    color: #FF0049;
    transform: scale(1.1);
}
.menu_navegacao img{
    width: 25px;
    margin-right: 10px;
}

#menu_perfil_photo{
    width: 30px;
    border-radius: 25px;
}